<div class="container">
    <h2>Contact Information</h2>
    If you have comments, questions or would just like to reach out you can do so at any of the following.
    <br>
    <br>
    <div class="col col-xs-12 col-sm-9 col-md-6">
        <div class="alert alert-info" role="alert">
            <a href="mailto:developingdane@gmail.com" target="_blank"><i class="fa fa-envelope fa-lg"></i>&nbsp;developingdane@gmail.com</a>
        </div>
        <div class="alert alert-info" role="alert">
            <a href="https://developingdane.com" target="_blank"><i class="fa fa-pencil fa-lg"></i>&nbsp;Developing Dane</a>
        </div>
        <div class="alert alert-info" role="alert">
            <a href="https://github.com/DaneVinson" target="_blank"><i class="fa fa-github fa-lg"></i>&nbsp;DaneVinson</a>
        </div>
        <div class="alert alert-info" role="alert">
            <a href="https://twitter.com/DevelopingDane" target="_blank"><i class="fa fa-twitter fa-lg"></i>&nbsp;@DevelopingDane</a>
        </div>
        <div class="alert alert-info" role="alert">
            <a href="https://www.linkedin.com/in/dane-vinson-20852191/" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i>&nbsp;LinkedIn</a>
        </div>
    </div>
</div>
